<a href="/blob_man" data-turbolinks="false"><div>Blob Man</div></a>
<a href="/sky_high" data-turbolinks="false"><div>Sky High</div></a>
<a href="/ogre_crossing" data-turbolinks="false"><div>Ogre Crossing</div></a>