.hidden {
    display: none;
}
.splash{
    background-image: image-url("background_splash.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
body {
    color: white;
    font-family: 'Press Start 2P', cursive;
}

input {
    color: white;
    background: 2px solid black !important;

}
input, select, textarea {
    text-shadow: 2px 2px 3px grey;
    width: 400px !important;
    color: white;
    background: 2px solid black !important;
}
input[name=commit] {
    height: 50px;
    width: 80px;
    border-radius: 5px;
    background: black;
    border: none;
}